 

* {
  -webkit-overflow-scrolling: touch;
}

body{
  margin: 0%;
  overflow-y: scroll!important;
  -webkit-overflow-scrolling: touch!important;
}


#base{
  background-color: #070724;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.header{
  border-bottom: 2px #6d2ed5 solid;
}
.planet{
  width: 100%;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:1024px) {
 .base-subwrapper{
   width: clamp( 1024px , 60% , 1300px );
 }
}


