 
/* *{
  outline: 1px red solid;
  box-sizing: border-box;
}  */
* {
  -webkit-overflow-scrolling: touch;
}

body{
  /* overflow-x: hidden; */
  margin: 0%;
  overflow-y: scroll!important;
  -webkit-overflow-scrolling: touch!important;
}


#base{
  background:center center no-repeat fixed;
  background-color: #070724;
  /* background-size: cover; */
  min-height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.header{
  border-bottom: 2px #6d2ed5 solid;
}
.planet{
  width: 100%;
}
.info{
  /* width: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:1024px) {
 .base-subwrapper{
   width: clamp( 1024px , 60% , 1300px );
 }
}


